.signContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin: 5vw 10vw;
}

.signContainer h2 {
    font-size: 8.8vw;
    font-weight: 700;
    line-height: 1;
    padding: 3.73333vw 0px 3.73333vw;
    letter-spacing: -0.015em;
    max-width: 100%;
    margin: 0px;
    color: rgb(0, 0, 0);
}

.signContainer input {
    display: block;
    width: 100%;
    padding: 5px 0;
    margin: 1rem 0;
    box-sizing: border-box;
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    outline: none;
    font-size: inherit;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #CCC;
}

input:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    /* background-color: #0087ca; */
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #555;
}

input:focus::-webkit-input {
    color: black;
}

input:focus+:after {
    transform: scale(1);
    transform-origin: bottom left;
}

.resigter__btn {
    width: 100%;
    text-transform: uppercase;
    font-size: 3vw;
    color: #555;
    line-height: 5.33333vw;
    height: 7vw;
    border: 2px solid #559df2;
    border-radius: 2.93333vw;
    box-sizing: border-box;
    margin-top: 5.6vw;
    background-color: transparent;
}

.resigter__btn:hover {
    background-color: #559df2;
    color: white;
}

@media (min-width: 900px) {
    .signContainer {
        max-width: 30.5556vw;
        margin: 5vw auto;
    }

    .signContainer h2 {
        position: relative;
        margin: 0px;
        font-size: 4vw;
        padding: 0px;
        max-width: 100%;
        height: 100px;
    }
    .resigter__btn {
        font-size: 0.972222vw;
        line-height: 1.38889vw;
        height: 4.09722vw;
        border: 0.104167vw solid #559df2; /*#FF6458;*/
        border-radius: 0.763889vw;
        margin-top: 1.45833vw;
    }

    .resigter__btn:hover {
        color: white;
        background-color: #559df2;
    }
}
