.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin: 5vw;
}

@media (min-width: 900px) {
    .login__container {
        max-width: 30.5556vw;
        margin: 0px auto;
    }
}