.reserve_wrapper {
    width: 100%;
    max-width: 50rem;
    align-self: center;
    margin-bottom: 1.5rem;
} 

.reserve_container {

}

.reserve__keyword {
    display: flex;
}

.reserve__keyword p {
    border: 1px solid #559df2;
    border-radius: 20px;
    width: 70px;
    text-align: center;
    background-color: transparent;
    color: #559df2;
    cursor: pointer;
}

.reserve__keyword p:hover {
    background-color: #559df2;
    color: white;
}


@media (min-width: 600px) {
    .reserve_wrapper {

    }
}

@media (min-width: 900px) {
    .reserve_wrapper {
        width: 55vw;
    }
    .reserve_container {
        margin: 1.5rem;
        display: grid;
        grid-row-gap: 1.5rem;
    }
}