.reserve__wrapper {
    width: 100%;
    max-width: 50rem;
    align-self: center;
    margin-bottom: 1.5rem;
} 

.reserve__subtitle {

}

.reserve__container {
    align-items: start;
    display: grid;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
}

.reserve__info {
    background-color: #559df2;
    color: white;
    height: 100%;
    border: 1px solid;
}

.reserve__place {
    text-align: center;
}

.place__reserve__form {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.reserve__keyword {
    display: flex;
}

.reserve__keyword p {
    border: 1px solid #559df2;
    border-radius: 20px;
    width: 70px;
    text-align: center;
    background-color: transparent;
    color: #559df2;
    cursor: pointer;
}

.reserve__keyword p:hover {
    background-color: #559df2;
    color: white;
}


@media (min-width: 600px) {
    .reserve__wrapper {

    }
}

@media (min-width: 900px) {
    .reserve__wrapper {
        width: 55vw;
    }

    .reserve__container {
        display: grid;
        grid-row-gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
    }
}