::selection {
  background: #f7f6f2;
  color: #000;
}

.App {
  /* text-align: center; */
}

body {
  -ms-overflow-style:none; 
}

body::-webkit-scrollbar { 
  display:none; 
}


a, button {
  cursor: pointer;
  outline: none;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  border: none;
  background: none;
  margin: 0px;
  padding: 0px;
}
