.cards__item__pic__wrap {
    height: 150px;
    border: 1px solid;
}

.cards__item {
    /* width: 200px; */
    margin: 0 1rem;
}

.cards__item__text {
    text-align: center;
}

/*================================CHECKLIST================================*/
.checklist__wrapper {
    position: relative;
    position: grid;
}

.checklist__swiper {
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;


    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    width: 100%;
    flex-wrap: wrap;
}

.checklist__content {
    /* width: 245px;
    height: 200px; 
    border: 1px solid;*/
    margin: 0.5rem;
    width: 100%;
}

.checklist__img {
    height: 200px;
    max-width: none;
    object-fit: cover;
    /* position: absolute; */
    /* width: 200px; */
}

/*detail*/
.checklist__read__container {
    display: flex;
    flex-wrap: wrap;
}
.checklist__read__content {
    border: 1px solid;
    width: 200px;
    margin: 7px;
}

.checklist__walk__container {
    max-width: 50rem;
}


/*practice*/
.checkllist__wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.checklist__note {
    background-color: #fef68a;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checklist__note.add {
    background-color: #559df2;
}

.checklist__note__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (min-width: 900px) {
    /*CARD LIST*/
    .checklist__content {
        display: flex;
        flex-wrap: wrap;
    }

    .checklist__img {
        transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    }

    .cards__item {
        width: 160px;
        margin: 1rem;
    }
}