.header {
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.space {
    display: block;
    width: 100%;
    padding-top: 5.33333vw;
}

.header__wrapper {
    width: 100%;
    margin: 10.6667vw 2.66667vw 4.26667vw;
}

.header__content {
    font-size: 8.8vw;
    font-weight: 700;
    line-height: 1;
    padding: 3.73333vw 0px 2.66667vw;
    letter-spacing: -0.015em;
    max-width: 100%;
    margin: 0px;
    color: rgb(0, 0, 0);
}

.header__detail {
    font-size: 3.73333vw;
    font-weight: 300;
    line-height: 6.4vw;
    margin-top: 0px;
    white-space: pre-wrap;
    padding: 0px 2.66667vw;
    color: rgb(0, 0, 0);
}

.line {
    border-top: 0.4vw solid rgb(0, 0, 0);
    margin: 0px auto;
    max-width: 94.6667vw;
}


/*CONTENT*/
/* .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 4.53333vw 2.66667vw;
} */


.info__content {
    display: grid;
    grid-gap: 1rem;
    padding: 4rem 1rem 4rem 1rem;
}

/*LEFT*/
ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.left__menu {
    /* position: sticky; */
    top: 3.7rem;
    max-height: calc(100vh - 3.7rem);
    overflow-y: auto;
    display: grid;
    grid-row-gap: 1rem;
}


.menu__list {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.38889vw;
}

/*반려동물 정보 내용*/
.content__wrapper {
    align-items: start;
    display: grid;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
}

.grid {
    display: grid;
}

/*사진*/
.animal__imageform {
    position: relative;
    /* background: #efede7; */
    display: grid;
    grid-area: 1/-1;
}

.animal__blob {
    fill: #fe81b9;
}

#image__container {
    box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;
}

#image__container img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

/*내용*/
.info__details {
    display: grid;
    align-content: start;
    grid-row-gap: 3rem;
}

.details__description {
    display: grid;
    grid-row-gap: 1rem;
}

/*내용부분*/
.navi__container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    max-width: 50rem;
    justify-content: space-between;
}

.navi__container button {
    text-transform: uppercase;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    gap: 0.5rem;
    font-size: 0.972222vw;
    font-weight: 700;
    justify-content: space-between;
    justify-self: start;
    text-align: left;
    cursor: pointer;

    background: transparent;
    color: #559df2;
    border: 1px solid #559df2;

    padding: 0.25rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: calc(2rem + 2px);
    line-height: 1rem;
    border-radius: 100vw;
}

.navi__container button:hover {
    color: white;
    background-color: #559df2;
}

.input__container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: grid;
    grid-row-gap: 1.5rem;
    padding: 1rem 1rem 4rem;
    width: 100%;
    max-width: 50rem;
    align-self: center;
}

.title__container {
    display: flex;
}

.input__container textarea {
    resize: none;
    width: 80vw;
    border: none;
    height: 300px;
}


.upload__btn {
    text-transform: uppercase;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    gap: 0.5rem;
    font-size: 0.972222vw;
    font-weight: 700;
    justify-content: space-between;
    justify-self: start;
    text-align: left;
    cursor: pointer;

    background: transparent;
    color: #559df2;
    border: 1px solid #559df2;

    padding: 0.25rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: calc(2rem + 2px);
    line-height: 1rem;
    border-radius: 100vw;
}

.upload__btn:hover {
    color: white;
    background-color: #559df2;
}

/**/
.stack {
    display: flex;
    flex-direction: column;
}

.details__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0;
    border-bottom: 1px solid;
    user-select: none;
    cursor: pointer;
}

/*================================LOG================================*/
.list_day {
    align-items: start;
    display: grid;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.log__content {
    display: flex;
    justify-content: space-between;
}

.log__list__container {
    max-width: 50rem;
}

.log__list__container li {
    border-bottom: 1px solid;
}


/*================================CHECKLIST================================*/
.checklist__wrapper {
    position: relative;
    position: grid;
}

.checklist__swiper {
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;


    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    width: 100%;
    flex-wrap: wrap;
}

.checklist__content {
    /* width: 245px;
    height: 200px; 
    border: 1px solid;*/
    margin: 0.5rem;
    width: 100%;
}

.checklist__img {
    height: 200px;
    max-width: none;
    object-fit: cover;
    /* position: absolute; */
    /* width: 200px; */
}


.checklist__walk__container {
    max-width: 50rem;
}

/**/
.etc {
    display: grid;
    grid-row-gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.etc h2 {
    justify-self: center;
    text-align: center;
    line-height: 0.8;
}

@media (min-width: 600px) {
    .content__wrapper {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .list_day {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .etc h2 {
        letter-spacing: -0.05ch;
    }
}

@media (min-width: 900px) {
    .info__container {
        margin: 0px 2.77778vw;
    }
    .space {
        padding-top: 1.38889vw;
    }
    .header__wrapper {
        position: relative;
        margin: 0px;
    }
    .header__content {
        font-size: 5.34722vw;
        padding: 0px;
        max-width: 100%;
    }
    .header__detail {
        font-size: 0.972222vw;
        line-height: 1.66667vw;
        font-weight: 700;
        margin-top: 1.45833vw;
        padding: 0px 0px 0vw;
    }
    .header__detail p {
        margin: auto;
        font-weight: normal;
        max-width: 27.3611vw;
    }
    .line {
        border-top: 0.104167vw solid rgb(0, 0, 0);
    }
    
    /*CONTENT*/
    .info__content {
        grid-template-columns: 1fr 3fr;
    }
    
    /*LEFT*/
    .left__menu {
        /* display: block;
        grid-column: span 2 / auto; */
    }

    /*MENU LIST*/
    .collection__content {
        font-size: 0.972222vw;
        line-height: 1.52778vw;
        letter-spacing: -0.015em;
        display: inline-block;
        position: relative;
    }
    .collection__content::after {
        content: "";
        width: 100%;
        display: block;
        transform: scaleX(0);
        transform-origin: left center;
        border-bottom: 0.104167vw solid black;
        transition: none 0s ease 0s;
        bottom: 0.486111vw;
    }

    /*반려동물 정보 내용*/
    .content__wrapper {
        grid-column-gap: 3rem;
        width: 55vw;
    }

    .animal__blob {
        width: 20vw;
    }

    /*log*/
    .log__wrapper {
        width: 55vw;
    }
    
    .list_day {
        grid-column-gap: 3rem;
    }

    .input__container textarea  {
        width: 100%;
        height: 300px;
    }



    /**/
    .etc {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .etc h2 {
        font-size: 5rem;
    }
}
