/*==================List==================*/
.list__board table {
    display: block;
}

/*==================READ==================*/
.board__index {
    display: flex;
}

.list__board tbody { 
    margin: 0;
}

.board__content {
    display: flex;
}

.board__title {
    cursor: pointer;
}

.paging .paging__number {
    display: flex;
    justify-content: center;
}

/* .paging__number ol {
    list-style : true;
    margin: 0;
    padding: 0;
} */

.paging__number ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.paging__number li {
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    cursor: pointer;
}